# Introduction to Python Programming - Lesson 1

## First Steps in Python

print, data types (numbers, strings), variables, operators, comments, and basic input/output

In [1]:
# hello world
print('Hello, World!')

Hello, World!

In [2]:
# let us say hallo to everybody
print('Hello, Tomislav!')
print('Hello, John!')
print('Hello, Mary!')
# ...

Hello, Tomislav!
Hello, John!
Hello, Mary!

## Data Types and Variables

Numbers

In [3]:
# numbers - integers
print(1)
print(type(1))

# numbers - floats
print(1.0)
print(type(1.0))

1
<class 'int'>
1.0
<class 'float'>

In [11]:
# arithmetic operators
# + - * / % ** //

# addition
print(2 + 2)
# subtraction
print(2 - 2)
# multiplication
print(2 * 2)
# division
print(2 / 2)  # result is always float
# modulo
print(2 % 2)
# exponentiation
print(2 ** 2)
# floor division
print(2 // 2)

4
0
4
1.0
0
4
1

In [12]:
# pemdas
# parenthesis, exponents, multiplication, division, addition, subtraction

# example 1
print(1 + 2 * 3 / 4 - 5)
# example 2
print(1 + 2 * (3 / 4 - 5))
# example 3
print((1 + 2) * (3 / 4 - 5))

-2.5
-7.5
-12.75

In [13]:
# Example - Rectangle Area
# area = width * height

print(20 * 5)

print(10 * 10)

print(11 * 5)

# all values are hardcoded

100
100
55

In [10]:
# let us use variables
a = 20
b = 5
c = a * b
print(c)

100

In [14]:
# let us use variables, but with better names (Semantics)

width = 20
height = 5
area = width * height

print(area)

100

**Rules for variables**
1. can not start with number
2. can not contain space
3. can not contain special characters (exept '_')
4. can not be a reserved word (keyword):
    - int, float, str, bool, list, tuple, dict, set, None, True, False,
    - and, or, not, if, else, elif, for, while, break, continue, return,
    - try, except, finally, class, def, yield, with, async, await, global

In [18]:
# let us try some names
# valid variable names
_name = 'Michael'
last_name = 'Jordan'
agent007 = 'James Bond'
Age = 30
bank_balance = 100000.30
# invalid variable names
# 1name = 'Michael'
# name@ = 'Michael'
# first name = 'Michael'
# first-name = 'Michael'
# not = 'Michael'
# True = 'Michael'

# let us print out the variables' values
print(_name)
print(last_name)
print(agent007)
print(Age)
print(bank_balance)

Michael
Jordan
James Bond
30
100000.3

**Pep8 naming convention**
- snake_case
- all lowercase
- words separated by underscore
- descriptive names
- class names start with capital letter - PascalCase
- function names start with lowercase letter
- variables start with lowercase letter
- constants are usually written in ALL_CAPS

In [21]:
snake_case = 'variable'
all_lowercase = 'variable'
words_separated_by_underscore = 'value'
descriptive_names = 'something to describe the value'
def some_function():
    pass
THIS_IS_CONSTANT = 'constant'
PI = 3.14159

## Reading Input from the Keyboard

In [24]:
input('Enter your name: ')  # asks for an input
# print(WHAT SHALL I PRINT??????)

'as'

In [25]:
name = input('Enter your name: ')
print(name)

Tomislav

In [26]:
first_name = input('Enter your first name: ')
last_name = input('Enter your last name: ')

print(last_name + ' ' + first_name)
# or
print(last_name, first_name)

D t
D t

In [29]:
# rectangle area
width = input('Enter the width: ')
height = input('Enter the height: ')
# area = width * height
# print(area)
print(width + height)

wq

In [32]:
# convert the input to numbers
number = input('Enter a number: ')
print(number)
print(type(number))
number = int(number)
print(number)
print(type(number))

10
<class 'str'>
10
<class 'int'>

In [33]:
float_number = input('Enter a float number: ')
print(type(float_number))
print(float_number)
float_number = float(float_number)
print(type(float_number))
print(float_number)

<class 'str'>
12
<class 'float'>
12.0

**Data Type Conversion**
- string to integer: int()
- string to float: float()
- integer to string: str()
- float to string: str()

In [34]:
# string to int
string_number = '123'
print(type(string_number))
int_number = int(string_number)
print(type(int_number))
print(int_number)

# int to string
int_number = 123
print(type(int_number))
string_number = str(int_number)
print(type(string_number))
print(string_number)

# string to float
string_number = '123.456'
print(type(string_number))
float_number = float(string_number)
print(type(float_number))
print(float_number)

# float to string
float_number = 123.456
print(type(float_number))
string_number = str(float_number)
print(type(string_number))
print(string_number)

<class 'str'>
<class 'int'>
123
<class 'int'>
<class 'str'>
123
<class 'str'>
<class 'float'>
123.456
<class 'float'>
<class 'str'>
123.456

In [ ]:

# comparison operators
# == != < > <= >=